body {
    font-family: Arial, sans-serif;
    background-image: url("20230605_175604.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    text-shadow: 0 10px 20px rgb(7, 6, 6);
    color: #fff;
    font-size: 3em;
    margin-bottom: 80px;
}
p::first-line {
    text-align: center;
    text-shadow: 0 10px 20px rgb(0, 0, 0);
    color: #fff;
    font-size: 2em;
    margin-bottom: 80px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    height: 40em;
}

.task-category {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

    .task-category h2 {
        text-align: center;
        color: #333;
        font-size: 1.5em;
        margin-bottom: 10px;
    }



ul {
    list-style-type: none;
    padding: 0;
    min-height: 20%;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
    flex-grow: 1;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    li span {
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.delete-button {
    background-color: #7C86C4;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8em;
    margin-left: auto;
}

    .delete-button:hover {
        background-color: #6d68d8;
    }

.completed {
    text-decoration: line-through;
    color: gray;
}

li.dragging {
    opacity: 0.5;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #37a794;
    color: #fff;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

    button:hover {
        background-color: #165248;
    }


    button:hover {
        background-color: #5ac6bd;
    }

/* Адаптивність */
@media (max-width: 768px) {
    .task-category {
        width: 100%;
    }
}
